.content {
    display: none;
  }
  
  .collapsible {
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .collapsible:hover {
    background-color: #ccc;
  }