<!DOCTYPE html>
<html>
<head>
  <title>Auto Play Google Drive Audio</title>
</head>
<body>
  <h1>Auto Play Google Drive Audio</h1>

  <audio id="audioPlayer" controls autoplay>
    <source src="https://drive.google.com/uc?export=download&id=YOUR_AUDIO_FILE_ID" type="audio/mp3">
    Your browser does not support the audio element.
  </audio>

  <script >
    window.addEventListener('DOMContentLoaded', function() {
        var audioPlayer = document.getElementById('audioPlayer');
        
        if (navigator.onLine) {
          audioPlayer.play();
        } else {
          audioPlayer.src = 'music/Glockini  (Prodby Shane Alexander) bpm 168.mp3';
          audioPlayer.play();
        }
      });
  </script>
</body>
</html>
