<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome</title>

        <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> -->
    </head>

    <body>
         <img id="headshot-image" 
			src="images/tsmith-headshot.png" 
			alt="Headshot" class="rounded mx-auto d-block"> 
            <br>
            <div class="text-center lead small bullet-trail">
                Since 2017 | 39 projects | Atlanta, Georgia, USA |
                                                        68+ LinkedIn certs.
            </div>

        <!--<p>The brilliant move is in sequence</p>-->

        <br>
        <h3 class="lead text-center">Roles</h3>

        <table class="table-borderless">
            <tbody>
                <tr>
                    <td>
                        <button
                            id="button-project-details"
                            class="collapsible text-center btn btn-outline-dark text-primary jumping"
                        >
                            Senior Software Architect
                        </button>

                        <div class="content scale">
                            <div class="card-body">
                                <h3 class="lead">Overview</h3>
                                <p>
                                    I take charge of delivering software and creating a plan for its development. I also work on important projects that help the company grow. This involves organizing meetings, both in-person and online, with different people from the company to discuss and design technical solutions. We collaborate with managers, stakeholders, and other team members to make sure everything goes smoothly and meets everyone's needs. It's like being the captain of a team, leading the way towards success!
                                </p>

                                <p>
                                    I collect big ideas, user needs, and specific software features. Then, I break them down into smaller tasks and plan them out in short bursts called sprints. I also assign these tasks to team members. After writing the code, I make sure it works correctly by testing it. I handle the process of combining everyone's code together and making sure it all works smoothly through a system called continuous integration and continuous delivery (CI/CD). I use a tool called Azure DevOps to manage and set up this process. It's like building a well-oiled machine that takes care of delivering the software quickly and efficiently!
                                </p>

                                <h3 class="lead">
                                    Software Architect Experience
                                </h3>
                                <ol>
                                    <li>Scripts</li>
                                    <li>Feature extensions</li>
                                    <li>Apps</li>
                                    <li>API's</li>
                                    <li>Services</li>
                                    <li>UI/UX</li>
                                    <li>DevOps CI/CD</li>
                                    <li>Software versioning</li>
                                    <li>Content management</li>
                                </ol>
                            </div>
                        </div>

                        <br />

                        <button
                            id="button-project-details"
                            class="collapsible text-center btn btn-outline-dark text-primary jumping"
                        >
                            Lead Software Developer
                        </button>

                        <div class="content scale">
                            <div class="card-body">
                                <h3 class="lead">Overview</h3>
                                <p >
                                    I love writing code for source-controlled repositories! It's like creating puzzles with building blocks. I use special techniques called object-oriented programming and agile software delivery to make sure everything runs smoothly. It's all about working together with a team and following a set of organized steps to create awesome software.
                                </p>

                                <h3 class="lead">Developer Experience</h3>
                                <ol>
                                    <li>Visual Studio</li>
                                    <li>PyCharm</li>
                                    <li>Eclipse</li>
                                    <li>Sublime Text 2</li>
                                    <li>Atom</li>
                                    <li>VS Code</li>
                                    <li>Note Pad++</li>
                                    <li>VS Code Interactive Notebooks</li>
                                    <li>Jupyter Notebooks</li>
                                    <li>Microsoft SQL Server</li>
                                    <li>SQL Server Manager Studio</li>
                                    <li>Orchard CMS</li>
                                    <li>Pirhana CMS</li>
                                    <li>GitHub</li>
                                </ol>

                                <h3 class="lead">
                                    Program Language Experience
                                </h3>
                                <ol>
                                    <li>C#</li>
                                    <li>Python</li>
                                    <li>VB.NET</li>
                                    <li>Javascript</li>
                                    <li>TypeScript</li>
                                    <li>SQL</li>
                                    <li>NoSQL (JSON)</li>
                                    <li>HTML5</li>
                                    <li>CSS</li>
                                    <li>Markdown</li>
                                    <li>VBA</li>
                                </ol>

                                <h3 class="lead">
                                    Programming Framework Experience
                                </h3>
                                <ol>
                                    <li>React</li>
                                    <li>Node.js</li>
                                    <li>Express.js</li>
                                    <li>Three.js</li>
                                    <li>Blazor Server</li>
                                    <li>Blazor Web Assembly</li>
                                    <li>.NET Framework Web Forms</li>
                                    <li>.NET Framework Win Forms</li>
                                    <li>ASP.NET Core MVC</li>
                                    <li>ASP.NET Core Razor</li>
                                    <li>Bootstrap 5</li>
                                    <li>Material Design UI</li>
                                    <li>Dev Express UI Components</li>
                                    <li>Infrigistics UI Components</li>
                                </ol>

                                <h3 class="lead">IT Applications Experience</h3>
                                <ol>
                                    <li>Vizio</li>
                                    <li>Office 365</li>
                                    <li>Adobe Acrobat</li>
                                </ol>

                                <h3 class="lead">No Code & AI Experience</h3>
                                <ol>
                                    <li>Microsoft Power Platform Apps</li>
                                    <li>Jasper</li>
                                    <li>ChatGPT</li>
                                    <li>OpenAI API</li>
                                    <li>Canva</li>
                                    <li>Microsoft Forms</li>
                                    <li>Type Forms</li>
                                    <li>Zapier</li>
                                </ol>

                                <h3 class="lead">Cloud Experience</h3>
                                <ol>
                                    <li>MongoDB</li>
                                    <li>Azure Portal</li>
                                    <li>Azure Active Directory</li>
                                    <li>Microsoft Identity (OAuth)</li>
                                    <li>Azure Resource Group Manager</li>
                                    <li>Azure SQL Server</li>
                                    <li>Azure App Services</li>
                                    <li>Azure Storage</li>
                                    <li>Azure DevOps</li>
                                    <li>Azure Secrets/Key Vault</li>
                                    <li>Azure Logging/Telematry</li>
                                    <li>API Manager</li>
                                    <li>Firebase</li>
                                    <li>AWS</li>
                                    <li>Google Drive</li>
                                </ol>

                                <h3 class="lead">Integration Experience</h3>
                                <ol>
                                    <li>Dynamics Navision (ERP, CRM)</li>
                                    <li>Stripe</li>
                                    <li>Twilio</li>
                                    <li>Excel</li>
                                    <li>Autodesk</li>
                                </ol>

                                <h3 class="lead">Application Experience</h3>
                                <ol>
                                    <li>Stripe</li>
                                    <li>Twilio</li>
                                    <li>Excel</li>
                                    <li>Autodesk Global License Management</li>
                                </ol>
                            </div>
                        </div>

                        <button
                            id="button-project-details"
                            class="collapsible text-center btn btn-outline-dark text-primary jumping"
                        >
                            Operations Technology Specialist
                        </button>

                        <div class="content scale">
                            <br>
                            <h3 class="lead">Overview</h3>
                            <div class="card-body">
                                <p>
                                    I create and provide software that uses math and logic to solve problems and perform calculations. I also write scripts, which are sets of instructions, to make the software work. To make sure the software meets the needs of the people involved, I talk to them and gather information about what they want. Then, I set up Power BI Dashboards, which are special tools that show important information in a clear way, to report data and show statistics to the people who use the software. This helps us make sure the software matches what the business and customers need right now.
                                </p>

                                <h3 class="lead">
                                    Dynamics Navision ERP Integration
                                    (Automation)
                                </h3>

                                <ul>
                                    <li>Sales Orders</li>
                                    <li>Data transfer between apps</li>
                                </ul>

                                <p>
                                    Requests item, customer, sales order & work
                                    order tables via on-premise SQL Server from
                                    multiple environments:
                                </p>
                                <ul>
                                    <li>Test</li>
                                    <li>Development</li>
                                    <li>Production</li>
                                </ul>
                                <h3 class="lead">
                                    Microsoft Excel Integrations (Automation)
                                </h3>
                                <ul>
                                    <li>Bill of materials</li>
                                    <li>Part labels</li>
                                    <li>Shipping labels</li>
                                    <li>Quote Documents</li>
                                </ul>

                                <h3 class="lead">
                                    Microsoft Outlook Integrations (Automation)
                                </h3>
                                <ul>
                                    <li>Emails</li>
                                    <li>
                                        Project lifecycle event notifications
                                    </li>
                                    <li>Data injected email templates</li>
                                </ul>
                            </div>
                        </div>

                        <button
                            id="button-project-details"
                            class="collapsible text-center btn btn-outline-dark text-primary jumping"
                        >
                            CAD Technical Manager
                        </button>

                        <div class="content scale">
                            <div class="card-body">
                                <h3 class="lead">Overview</h3>
                                <p>
                                    I have been working with CAD for more than 10 years, and part of my responsibility is to make sure that we follow specific rules and guidelines when designing and creating computer-aided design (CAD) libraries. These libraries are collections of pre-made elements that we use to build things in a computer program. By enforcing these standards, we ensure that our CAD libraries are well-developed and reliable, which helps us create better designs.
                                </p>

                                <p class="lead">
                                    Autodesk Inventor, AutoCAD, Revit & Vault
                                    Integrations (Automation)
                                </p>
                                <ul>
                                    <li>AutoCAD blocks</li>
                                    <li>AutoLISP scripts</li>
                                    <li>3d assemblies & constraints</li>
                                    <li>3d models</li>
                                    <li>BIM</li>
                                    <li>Installation drawings</li>
                                    <li>Drawing dimensions</li>
                                    <li>Drawing parts list</li>
                                    <li>Drawing notes</li>
                                    <li>Title blocks</li>
                                    <li>Parameters</li>
                                    <li>Flat patterns</li>
                                </ul>

                                <h3 class="lead">
                                    Organizational Announcements
                                </h3>
                                <p>
                                    Managed Sharepoint company intra-net
                                    sites for Human Resources.
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
